{block content}
	<p>
		<a class="btn btn-primary ajax" n:href="runTest!" role="button">Spustit</a>
	</p>

	{snippet grid}
		{control grid}
	{/snippet}

{/block}

{block scripts}
	{include #parent}
{/block}