{block detail}

	{foreach $websiteTestResults as $TestResults}
		{if $TestResults->isFail()}
			<h2>{$TestResults->getTestCode()}</h2>
			{if $TestResults->getDescription() != NULL}
				Popis chyby<div class="alert alert-danger" role="alert">{$TestResults->getDescription()}</div>
			{/if}
			{if $TestResults->getValue() != NULL}
				Aktuální hodnota<div class="alert alert-danger" role="alert">{$TestResults->getValue()}</div>
			{/if}
		{/if}
	{/foreach}

{/block}