<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Web Tester</title>
</head>
<body>
{include #content}

<footer>
<p>
	Zpráva byla vygenerována {date('j.n.Y H:i')}
</p>
</footer>
</body>
</html>