log/*
temp/*
vendor/*
node_modules/*
.idea
.deployment
www/assets/css/*.css
www/assets/css/*.css.map
www/assets/admin/css/*.css.map
www/assets/admin/css/*.css
www/assets/js/script.min.js
www/assets/js/script.min.*.js
www/assets/js/*.js
www/assets/admin/js/*.js
www/assets/js/vendor.js
www/assets/assets.json
www/assets/admin/assets.json
/deployment.*.*
!/deployment.example.php
!.gitignore
!.htaccess
!web.config
!.gitkeep
