
parameters:

application:
	errorPresenter: Front:Error
	mapping:
		*: Ajda2\WebsiteChecker\*Module\Presenters\*Presenter

session:
	expiration: 14 days
	debugger: true

tracy:
	email: michal@tichy-vyvojar.cz
	showLocation: true;

database:
	default:
		dsn: '%database.driver%:host=%database.host%;dbname=%database.dbname%'
		user: %database.user%
		password: %database.password%

services:
	router: Nette\Application\Routers\SimpleRouter('Front:Homepage:default')

	- Ajda2\WebsiteChecker\Model\WebsiteRepository
	- Ajda2\WebsiteChecker\Model\WebsiteTestResultRepository
	- Ajda2\WebsiteChecker\Model\WebsiteFacade
	- Ajda2\WebsiteChecker\FrontModule\Components\WebsiteGridFactory

	tester:
		class: Ajda2\WebsiteChecker\Model\Tester
		setup:
			- addTest(\Ajda2\WebsiteChecker\Model\Entity\TestCase\RobotsEnable(robots, Roboti) )
			- addTest(\Ajda2\WebsiteChecker\Model\Entity\TestCase\MetaTitle(title, Title) )
			- addTest(\Ajda2\WebsiteChecker\Model\Entity\TestCase\H1(h1, H1) )
			- addTest(\Ajda2\WebsiteChecker\Model\Entity\TestCase\MetaDescription(metaDescription, Description) )
			- addTest(\Ajda2\WebsiteChecker\Model\Entity\TestCase\Sitemap(sitemap, Sitemap.xml) )
			- addTest(\Ajda2\WebsiteChecker\Model\Entity\TestCase\RobotsFile(robotsFile, Robots.txt) )